{% extends 'base.html' %}

{% block center %}
    <h2> Lista de Alunos</h2>

    <a href="{% url 'aluno_criar' %}" class="btn btn-success mb-3">Novo Cadastro</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Email</th>
            <th>Cidade</th>
            <th>Curso</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in alunos %}
            <tr>
                <td>{{ obj.nome_aluno }}</td>
                <td>{{ obj.data_nascimento }}</td>
                <td>{{ obj.email }}</td>
                <td>{{ obj.cidade.nome }}</td>
                <td>{{ obj.curso.nome }}</td>
                <td>
                    <a href="{% url 'aluno_editar' id=obj.id %}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'aluno_remover' id=obj.id %}" class="btn btn-danger btn-sm">Remover</a>
                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>


{% endblock %}