{% extends 'base.html' %}

{% block center %}
  <h2> Lista de Alunos</h2>
    <form class="d-flex" method="GET">
    <div style="width:100%" class="d-flex flex-wrap justify-content-around">
        <div class="d-flex gap-1 align-items-center">
            <label for="{{ filter.form.nome_aluno.id_for_label }}"> Nome do aluno: </label>
            {{ filter.form.nome_aluno }}
        </div>
         <div class="d-flex  gap-1 align-items-center">
            <label for="{{ filter.form.cidade.id_for_label }}"> Cidade: </label>
            {{ filter.form.cidade }}
         </div>
         <div class="d-flex  gap-1 align-items-center">
            <label for="{{ filter.form.curso.id_for_label }}"> Curso: </label>
            {{ filter.form.curso}}
         </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
  <a href="{% url 'aluno_criar' %}" class="btn btn-success mb-3">Novo Cadastro</a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Cidade</th>
        <th>Curso</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in filter.qs %}
      <tr>
        <td>{{ obj.nome_aluno }}</td>
        <td>{{ obj.email }}</td>
        <td>{{ obj.cidade.nome }}</td>
        <td>{{ obj.curso.nome }}</td>
        <td>
          <a href="{% url 'aluno_editar' id=obj.id %}" class="btn btn-primary btn-sm">Editar</a>
          <a href="{% url 'aluno_remover' id=obj.id %}" class="btn btn-danger btn-sm">Remover</a>
        </td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>
{% endblock %}