{% extends 'base.html' %}

{% block center %}
    <h2> Lista de Alunos</h2>

    <a href="{% url 'aluno_criar' %}" class="btn btn-success mb-3">Novo Cadastro</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Cidade</th>
            <th>Curso</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in pag_obj %}
            <tr>
                <td>{{ obj.nome_aluno }}</td>
                <td>{{ obj.email }}</td>
                <td>{{ obj.cidade.nome }}</td>
                <td>{{ obj.curso.nome }}</td>
                <td>
                    <a href="{% url 'aluno_editar' id=obj.id %}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'aluno_remover' id=obj.id %}" class="btn btn-danger btn-sm">Remover</a>
                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if pag_obj.has_previous %}
                <li class="page-item"><a class="page-link"
                                         href="?pagina={{ pag_obj.previous_page_number }}">anterior</a></li>
            {% endif %}

            {% for page in pag_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?pagina={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if pag_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?pagina={{ pag_obj.next_page_number }}">próxima</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}